.homecontainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
   align-items: center;
 

   
    gap:30px;
}

.hometitle{
  
width: 100%;
font-size: 20px;
max-width:1024px ; 
    
}