.maillist{
    background-color:#003580;
    display: flex;
    align-items: center;
    flex-direction: column;
    width:100%;
    color:white;
    margin-top: 50px;
    gap: 20px;
  padding: 50px;
}



.mailcontainer>input{
    width:300px;
    height:30px;
    padding:10px;
    border:none;
    margin-right:10px ;
    margin-right: 10px;
  border-radius: 5px;
}

.mailcontainer>button{
    height: 50px;
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }